In [1]:
x = ['Ravi Prakash', 100, 22, 226022, 'Lucknow', 'Regional Manager', True, False]

In [2]:
data = {'name': 'Ravi Prakash', 'Diwali': 100,
        'age': 22, 'pincode': 226022, 'city': 'Lucknow',
        'desig': 'Regional Manager', 'is_married': True, 'have_children': True}

In [3]:
print(data)

{'name': 'Ravi Prakash', 'Diwali': 100, 'age': 22, 'pincode': 226022, 'city': 'Lucknow', 'desig': 'Regional Manager', 'is_married': True, 'have_children': True}

In [4]:
data['desig']

'Regional Manager'

In [5]:
data['name']

'Ravi Prakash'

In [7]:
data['age'] = 23 #update the key

In [8]:
data['dept'] = 'Sales' #adding the data

In [9]:
data.pop('is_married') #remove the data

True

In [10]:
print(data)

{'name': 'Ravi Prakash', 'Diwali': 100, 'age': 23, 'pincode': 226022, 'city': 'Lucknow', 'desig': 'Regional Manager', 'have_children': True, 'dept': 'Sales'}

In [11]:
#Basic Loop Example
for i in data:
    print(i)

name
Diwali
age
pincode
city
desig
have_children
dept

In [12]:
#Actual Loop Example
for k, v in data.items():  #.items is the way to key the values of the key
    print(k, v)

name Ravi Prakash
Diwali 100
age 23
pincode 226022
city Lucknow
desig Regional Manager
have_children True
dept Sales

In [14]:
#This also works to get key and the value
for i in data:
    print(i, data[i])

name Ravi Prakash
Diwali 100
age 23
pincode 226022
city Lucknow
desig Regional Manager
have_children True
dept Sales

In [16]:
#Odd indexes from the List
x = [1,2,3,4,5,6,7,8,9]
x_odd = x[1::2]
print(x)
print(x_odd)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]

In [17]:
#Even indexes from the List
x = [1,2,3,4,5,6,7,8,9]
x_even = x[0::2]  # x_even = x[::2]
print(x)
print(x_even)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]

In [18]:
#Same program using the Loop in the List
x = [1,2,3,4,5,6,7,8,9]
x_even = []
for i, v in enumerate(x):
    if i%2==0:
        x_even.append(v)
print(x_even)

[1, 3, 5, 7, 9]

In [19]:
#Take 5 values from the user of the product and the cost of it
user_data = {}
for i in range(5):
    key = input("Enter name? ")
    val = input("Enter values=> ")
    user_data[key] = val

print(user_data)

{'Maggi': '90', 'Butter': '200', 'Sugar': '230', 'Salt': '50', 'Biscuit': '39'}

In [21]:
#Store student marks in a Dictionary
report = { 'Raja':
            {'eng' : [50, 80],
            'hindi' : [40, 83],
            'maths' : [39,59],},
            'Rani':
            {'eng': [29, 49],
            'hindi': [40, 70],
            'maths': [2,1],
             }, #comma is put at the last so that this can be updated.
             }

In [22]:
report['Raja']['Comp'] = [50, 90]
print(report)

{'Raja': {'eng': [50, 80], 'hindi': [40, 83], 'maths': [39, 59], 'Comp': [50, 90]}, 'Rani': {'eng': [29, 49], 'hindi': [40, 70], 'maths': [2, 1]}}

In [23]:
report ['Raja']['Comp'] =90
report

{'Raja': {'eng': [50, 80], 'hindi': [40, 83], 'maths': [39, 59], 'Comp': 90},
 'Rani': {'eng': [29, 49], 'hindi': [40, 70], 'maths': [2, 1]}}

In [24]:
report['Rani']['hindi']

[40, 70]

In [25]:
report['Rani']['hindi'][1]

70

In [29]:
report['Rani']['hindi'][int(False + 1)] #as value of False is 0 and of True is 1

70

In [28]:
for name, marks in report.items():
    print(name)
    for subject, val in marks.items():
        print(f'=>{subject} = {val}')

Raja
=>eng = [50, 80]
=>hindi = [40, 83]
=>maths = [39, 59]
=>Comp = 90
Rani
=>eng = [29, 49]
=>hindi = [40, 70]
=>maths = [2, 1]

In [ ]:
#WAP to create a contact dictionary, which will have some names and phone numbers. The user can search for a name through the input. If the name is in the dictionary, then display the phone number else, ask the user to add the number of the person by him/her self.
# contact = {'police' : 112, 'hospital' : 109, }